/tests/flow/logs/
/tests/module/flow/logs

/.tox/
/bin/
/build/
/dist/
/venv/
/deps/
/1/
**/build/

# Ignore benchmark fetched data but not the source file
/tests/benchmark/data/*
!/tests/benchmark/data/hnsw_indices
!/tests/benchmark/data/serializer.py

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
**/CMakeFiles
**/cmake_install.cmake
**/CMakeCache.txt

# Python
*.egg*
dist/**
poetry.lock
*.pyc
__pycache__/

.vscode
**/.ipynb_checkpoints

# spelling artifact, locally
wordlist.dic
