version: 2.1

commands:
  setup-automation:
    steps:
      - run:
          name: Setup automation and install dependencies
          command: |
            (mkdir -p deps; cd deps; git clone https://github.com/RedisLabsModules/readies.git)

  checkout-all:
    steps:
      - checkout
      - run:
          name: Checkout submodules
          command: git submodule update --init --recursive

  build-steps:
    steps:
      - checkout-all
      - setup-automation

      - restore_cache: # Download and cache dependencies
          keys:
          - v1-dependencies-{{ checksum "pyproject.toml" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run:
          name: Get prerequisites
          command: |
            sudo apt remove -y python2
            sudo ./sbin/system-setup.py
            sudo apt autoremove -y

      - run:
          name: lint
          command: bash -l -c "make lint"

      - run:
          name: Build
          command: bash -l -c "make build"

      - run:
          name: Unit Test
          command: bash -l -c "make test"

      - run:
          name: install tox dependencies
          command: python -m pip install -r .circleci/circle_requirements.txt

      - run:
          name: poetry install
          command: |
            python --version
            poetry install

      - run:
          name: build sdist and wheels
          command: |
            poetry build

      - run:
          name: Tox Run
          command: |
            tox

      - save_cache:
          paths:
            - ./.tox
            - ~/.cache/pip
            - ~/.cache/pypoetry
          key: v1-dependencies-{{ checksum "pyproject.toml" }}

jobs:
  build-ubuntu:
    docker:
      resource_class: large
      - image: circleci/python:3.8
    steps:
      - build-steps


on-any-branch: &on-any-branch
  filters:
    branches:
      only: /.*/
    tags:
      only: /.*/

never: &never
  filters:
    branches:
      ignore: /.*/
    tags:
      ignore: /.*/

on-master: &on-master
  filters:
    branches:
      only: master
    tags:
      ignore: /.*/

on-integ-branch: &on-integ-branch
  filters:
    branches:
      only:
        - master
        - /^\d+\.\d+.*$/
        - /^feature-.*$/
    tags:
      ignore: /.*/

not-on-integ-branch: &not-on-integ-branch
  filters:
    branches:
      ignore:
        - master
        - /^\d+\.\d+.*$/
        - /^feature-.*$/
    tags:
      ignore: /.*/

on-version-tags: &on-version-tags
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v[0-9].*/

on-integ-and-version-tags: &on-integ-and-version-tags
  filters:
    branches:
      only:
        - master
        - /^\d+\.\d+.*$/
        - /^feature-.*$/
    tags:
      only: /^v[0-9].*/


workflows:
  version: 2

  default_flow:
    jobs:
      - build-ubuntu:
          <<: *on-any-branch
