name: benchmark (labeled)

on: # TODO: delete this file when specifying a label is supported
  pull_request:
    types:
      - labeled
    branches-ignore:
      - '*docs'
      - '*noci'

jobs:
  bm_invoker: 
    if: startsWith(github.event.label.name, 'bm') || startsWith(github.event.label.name, 'benchmarks')
    uses: ./.github/workflows/benchmark.yml
    secrets: inherit
