name: benchmark

on:
  workflow_call:
  pull_request:
    types:
      - labeled

jobs:
  start-runner:
    name: Start self-hosted EC2 runner
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'workflow_call' }} || github.event.label.name == 'benchmark'
    outputs:
      label: ${{ steps.start-ec2-runner.outputs.label }}
      ec2-instance-id: ${{ steps.start-ec2-runner.outputs.ec2-instance-id }}
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
      - name: Start EC2 runner
        id: start-ec2-runner
        uses: machulav/ec2-github-runner@v2
        with:
          mode: start
          github-token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
          # Ubuntu 22.04 128GB Storage AMI
          ec2-image-id: ami-0ba430d4b7b64de57
          ec2-instance-type: m5d.large
          subnet-id: ${{ secrets.AWS_EC2_SUBNET_ID }}
          security-group-id: ${{ secrets.AWS_EC2_SG_ID }}

  benchmark:
    name: Run the benchmarks on the runner
    needs: start-runner # required to start the main job when the runner is ready
    runs-on: ${{ needs.start-runner.outputs.label }} # run the job on the newly created runner
    steps:
      - name: checkout
        uses: actions/checkout@v3

      # TODO: remove "--no-check-certificate" when possible
      - name: Download pre-generated indices
        timeout-minutes: 20
        run: wget --no-check-certificate -q -i tests/benchmark/data/hnsw_indices.txt -P tests/benchmark/data

      - name: Install benchmark dependencies
        run: |
             sudo .install/install_script.sh
             sudo apt install python3-pip -y
             pip3 install --upgrade pip PyYAML setuptools
             pip3 install redisbench-admin
             pip3 install -r requirements.txt

      - name: Benchmark
        timeout-minutes: 120
        run: bash -l -c "make benchmark"

      - name: Collect results
        run: |
            < tests/benchmark/benchmarks.txt xargs -I {} redisbench-admin export \
                        --redistimeseries_host ${{ secrets.PERFORMANCE_RTS_HOST }} \
                        --redistimeseries_port ${{ secrets.PERFORMANCE_RTS_PORT }} \
                        --redistimeseries_pass ${{ secrets.PERFORMANCE_RTS_AUTH }} \
                        --github_repo ${{ github.event.repository.name }} \
                        --github_org ${{ github.repository_owner }} \
                        --github_branch ${{ github.head_ref || github.ref_name }} \
                        --github_actor ${{ github.triggering_actor }} \
                        --results-format google.benchmark \
                        --benchmark-result-file {}_results.json

  stop-runner:
    name: Stop self-hosted EC2 runner
    needs:
      - start-runner # required to get output from the start-runner job
      - benchmark # required to wait when the main job is done
    runs-on: ubuntu-latest
    if: ${{ always() }} # required to stop the runner even if the error happened in the previous jobs
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
      - name: Stop EC2 runner
        uses: machulav/ec2-github-runner@v2
        with:
          mode: stop
          github-token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
          label: ${{ needs.start-runner.outputs.label }}
          ec2-instance-id: ${{ needs.start-runner.outputs.ec2-instance-id }}
