name: temporary testing

# This file is useful for triggering actions when you implement them.
# When the `branches-ignore` line is commented out, this workflow will run on every push.
# It is better to use this file for testing your new flows than creating a new one, to avoid cluttering the repo
# action tab with unused workflows.
# Don't worry about conflicts with other PRs - there is no "right" content of this file.
# Make sure the `branches-ignore` line is not commented out when you merge your PR.

on:
  push:
    # branches-ignore: ['**'] # ignore all branches. Comment this line to run your workflow below on every push.
jobs:
  # jammy:
  #   uses: ./.github/workflows/task-unit-test.yml
  #   with:
  #     container: ubuntu:jammy
  #     run-valgrind: true
  # alpine3:
  #   uses: ./.github/workflows/task-unit-test.yml
  #   with:
  #     container: alpine:3
  #     pre-checkout-script: apk add bash
  #     run-valgrind: true
  # focal:
  #   uses: ./.github/workflows/task-unit-test.yml
  #   with:
  #     container: ubuntu:focal
  #     run-valgrind: false
  # bionic:
  #   uses: ./.github/workflows/task-unit-test.yml
  #   with:
  #     container: ubuntu:focal
  #     run-valgrind: false
  # bullseye:
  #   uses: ./.github/workflows/task-unit-test.yml
  #   with:
  #     container: debian:bullseye
  #     run-valgrind: false
  # amazonlinux2:
  #   uses: ./.github/workflows/task-unit-test.yml
  #   with:
  #     container: amazonlinux:2
  #     pre-checkout-script: yum install -y tar gzip
  #     run-valgrind: false
  # mariner2:
  #   uses: ./.github/workflows/mariner2.yml
  # rocky8:
  #   uses: ./.github/workflows/task-unit-test.yml
  #   with:
  #     container: rockylinux:8
  #     run-valgrind: false
  rocky9:
    uses: ./.github/workflows/task-unit-test.yml
    with:
      container: rockylinux:9
      run-valgrind: false
  # alpine3:
  #   uses: ./.github/workflows/task-unit-test.yml
  #   with:
  #     container: alpine:3
  #     pre-checkout-script: apk add bash
  #     run-valgrind: false
  # macos:
  #   uses: ./.github/workflows/macos.yml
