name: rocky 9 flow

on: [workflow_dispatch]

jobs:
  rocky9:
    uses: ./.github/workflows/task-unit-test.yml
    with:
      container: rockylinux:9
      pre-checkout-script: dnf -y update && dnf install -y git
